# Example environment variables for Weather Forecast app

# OpenWeatherMap API
OPENWEATHER_API_KEY=your_openweather_api_key
OPENWEATHER_ENDPOINT=https://api.openweathermap.org/data/2.5/weather

# Google Maps Geocoding API
GOOGLE_GEOCODER_API_KEY=your_google_geocoder_api_key

# Redis
REDIS_URL=redis://redis:6379/1

# Sentry
SENTRY_DSN=your_sentry_dsn


